@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}


/* Navbar Section Start  */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* Changed from space-between to flex-start */
  background-color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo-small {
  width: 200px;
  margin-left: 2%;
  /* Reduced from 5% to tighten the space */
}

.navbar-navigation {
  display: flex;
  align-items: center;
  margin-left: -100px;
  /* Adds a fixed margin if needed for better control */
}

.navbar-icon {
  margin-left: -10%;
}

.nav-link {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(28, 56, 99);
  font-size: 16px;
  line-height: 29px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 15px;
  margin: 0 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-link:hover,
.nav-link:focus {
  background-color: #003580;
  color: white;
  border-radius: 10px;
}


.navbar-icon .fa-2x {
  transition: filter 0.3s ease-in-out;
  /* Smooth transition for the filter */
}

.navbar-icon:hover .fa-2x {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.9));
}


/* Navbar Section End */










/* Welcome Section Start */

/* HomePageStyles.css */

.welcome-section img {
  width: 100%;
  display: block;
  border-radius: 5px;
  margin-left: 1px;
  max-height: 2000px;
  /* Adjust this value as needed */
}


/* Welcome Section End */

/* Overview Section Start */

.main-heading h1 {
  font-family: 'Cinzel', serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(33, 37, 41);
  font-size: 28px;
  line-height: 34px;
  margin-top: 1%;
  text-align: center;
  /* Ensures text alignment for multi-line headings */
}

.main-heading hr {
  height: 4px;
  /* Increased height from the default */
  width: 30%;
  /* Reduced width to 50% of its container */
  background-color: #136ac6;
  /* Custom color for the horizontal rule */
  border: none;
  /* Removes the default border */
  margin: 10px auto;
  /* Centers the hr element within the div */
}



.overview-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 80%;
  /* Reduce the maximum width */
  max-height: 90%;
  /* Optional: Reduce the maximum height if needed */
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 8%;
  /* Centering the section if width is less than 100% */
}


.text-section {
  flex: 1;
  /* Allows content to take available space */
  padding: 50px;
  text-align: left;
  margin-top: -6%;
}

.text-section h2 {
  font-family: 'Poppins', sans-serif;
  /* Consistent font family */
  color: rgb(28, 56, 99);
  /* Adjusted for visibility */
  font-size: 24px;
}

.text-section h2#main-text {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(28, 56, 99);
  font-size: 28px;
  line-height: 39px;
}

.text-section p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 100;
  color: rgb(119, 119, 119);
  font-size: 15px;
  line-height: 29px;
}

.text-section p span {
  font-weight: bold;
  font-size: 20px;
  /* This will make the text bold */
}

.overview-content-button {
  font-family: 'Poppins', sans-serif;

  background-color: #003580;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.overview-content-button:hover {
  background-color: #0056b3;
  border-radius: 5px;
}

.image-section {
  flex: 1;
  /* Adjusted to take equal space as content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  /* Ensures the image is responsive */
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}



















/* Overview Section Two Start */
.overview-section-two-main {
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -2%;
}

.overview-section-two-box {
  width: 30%;
  height: 70%;
  /* Updated height */
  background: rgba(27, 27, 27, 0.9);
  padding: 30px;
  /* Increased padding */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.90);
  text-align: left;
  margin-right: 4%;
  border-radius: 5px;
}

.overview-section-heading h2 {
  font-family: "Trajan Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(244, 245, 247);
  font-size: 43px;
  line-height: 52px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px dotted rgb(252, 251, 251);
}

.overview-section-table {
  display: flex;
  justify-content: space-between;
  color: rgb(238, 245, 245);
  height: 75%;
}

.overview-section-table p {
  font-size: 1.7em;
  /* Adjust the font size as needed */

}



.overview-section-table-left-content {
  text-align: left;
  width: 50%;
}

.overview-section-table-right-content {
  text-align: right;
  width: 50%;
}

.overview-section-buttons {
  display: flex;
  justify-content: flex-start;
  margin-left: 4%;
  border-top: 1px dotted rgb(249, 247, 247);
  padding-top: 15px;
  /* Added padding for better spacing with increased box height */
}

.details-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: rgb(5, 5, 5);
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.details-button:hover {
  background-color: rgb(44, 82, 130);
}

.call-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: rgb(28, 56, 99);
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.call-button:hover {
  background-color: rgb(44, 82, 130);
}

/* Overview Section Two End */





















/* Pricing Boxes Start */



.pricing-boxes {
  margin-top: 7%;
  margin-bottom: 10%;

}



.ititle {
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
  /* Example of common font styling */
}

.suptitle {
  display: block;
  /* Makes the span behave like a block element */
  font-size: 24px;
  /* Adjust size as needed */
  color: #000;
  /* Default black, change as necessary */
}

.mtitle {
  display: block;
  /* Ensures this is on a new line */
  font-size: 28px;
  /* Larger font size */
  color: red;
  /* This class assumes you want red text */
  text-transform: uppercase;
  /* Uppercase for emphasis */
}

.pricing-boxes-heading {

  margin-left: 11.5%;
  margin-bottom: 3%;
  margin-top: -2%;
}











/* General font styling for h4 and h2 */
.pricing-boxes-heading h4,
.pricing-boxes-heading h2 {
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 67px;
}

/* Specific color for h4 */
.pricing-boxes-heading h4 {
  color: rgb(4, 4, 4);
  /* Green color */
}

/* Color for h2 - you can choose a different color or remove this rule if the default color is preferred */
.pricing-boxes-heading h2 {
  color: black;
  /* Default color; change as needed */
}





.pricing-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;

}

.pricing-box-box {
  width: 50%;
  /* box takes up half of the main div's width */
  background: rgba(255, 255, 255, 0.8);
  /* semi-transparent white background */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* optional: adds shadow for better visibility */
  text-align: center;
  background-color: rgba(27, 27, 27, 0.9);
  /* Sets the background color of the box to navy */
  color: white;
  /* Sets text color inside the box to white */
  padding: 20px;
  /* Adds padding inside each box for better spacing */
  border-radius: 1px;
  /* Rounded corners to the boxes */
  width: 300px;
  /* Ensures each box has the same width */
  text-align: left;
  /* Aligns text to the left inside the box */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border-radius: 2%;
}

.pricing-box-box {
  font-family: 'Poppins', sans-serif, Arial, Helvetica;
  font-style: normal;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-top: -1%;

}


.pricing-box-box-button {
  background-color: transparent;
  /* Makes button background transparent */
  color: white;
  border: 2px solid white;
  /* White border for the button */
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0;
  /* Sharp edges for the button */
  font-size: 16px;
  /* Increases font size for better readability */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition for hover effect */
  border-radius: 1%;
}

.pricing-box-box-button:hover {
  background-color: #0056b3;
  /* Background color changes on hover */
  color: black;
  /* Text color changes on hover */
  border-radius: 5%;
}






/* Pricing Boxes End */

















/* Divider Start */


.divider-section {
  margin-top: -6%;
  background-color: rgba(27, 27, 27, 0.9);
  padding: 15px 20px;
  /* Vertical and horizontal padding */

}

.divider-section-heading {
  text-align: center;
  color: #FFFFFF;
}

.divider-section-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Align icons in the center horizontally */
  align-items: center;
  /* Align items vertically in the center */
}

.divider-section-icons>* {
  margin: 0 10px;
  /* Horizontal spacing between icons, adjust margins to better space out the icons */
}




/* Divider Ends */














/* Gallery Section Start*/


.gallery-section hr {
  height: 4px;
  /* Increased height from the default */
  width: 15%;
  /* Reduced width to 50% of its container */
  background-color: #136ac6;
  /* Custom color for the horizontal rule */
  border: none;
  /* Removes the default border */
  
 margin-top: -0.7%;
  margin-bottom: -8%;
  /* Centers the hr element within the div */
}

.gallery-section-h2{
  font-family: 'Cinzel', serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(33, 37, 41);
  font-size: 28px;
  line-height: 34px;
  margin-top: 6%; 
  text-align: center;
}

 
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ensure this value makes sense for your layout */
}

/* Existing carousel styles with slight adjustments */
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
  margin: auto;
  /* Center the carousel horizontally */
  margin-top: 10%;
  margin-bottom: 10%;
}

.slide {
  border-radius: 0.3rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}






/* Gallery Section Ends*/











/* Floor Plan Start */


.floorPlan {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  padding: 20px;
  align-items: center;
}

.floorPlan-content {
  display: flex;
  flex-direction: row;
  /* Ensures child divs are side by side */
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin-top: 8%;
  margin-bottom: 8%;
}

.floorPlan-type {
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: start;
  margin-right: 20px;
  /* Space between type options and images */
}

.floorPlan-types {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-left: -1%;
  margin-top: 10%;
}

.floorPlan-type1,
.floorPlan-type2 {
  width: 200px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border: 2px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
  margin-bottom: 10px;
}

.floorPlan-type1:hover,
.floorPlan-type2:hover,
.floorPlan-type1.active,
.floorPlan-type2.active {
  border-color: #007bff;
  background-color: #e7f0ff;
}

.floorPlan-type-button button {
  font-family: 'Poppins', sans-serif;
  background-color: #003580;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}
/* styles.css */

.floorPlan-type {
height: 4px;
  /* Increased height from the default */
  width: 30%;
  /* Reduced width to 50% of its container */
  background-color: #136ac6;
  /* Custom color for the horizontal rule */
  border: none;
  /* Removes the default border */
  margin: 10px auto;
  
}

.floorPlan-type-button button:hover {
  background-color: #0056b3;
  border-radius: 5px;
}

.floorPlan-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.carousel2 img {
  width: 700px;
  /* Adjust the width as needed */
  height: 400px;
  /* Maintain aspect ratio */
}

.indicators2 {
  display: none
}









/* Floor Plan END */